<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <a href="/add_book_form">
        <button type="button" class="btn btn-primary btn-block">Add new book</button>
    </a>
    <table class="text-center table table-bordered table-responsive-md">
        <thead>
        <th class="text-center" scope="col">name</th>
        <th class="text-center" scope="col">isbn</th>
        <th class="text-center" scope="col">author</th>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.book_name}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>